<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMPANADapp</title>
    <script src="operacionesPedido.js"></script>

</head>

<body>
    <h1> *** *** *** *** Ingreso de Pedido *** *** *** *** </h1>
    <form id="formulario">
        <p>item1: <input type="text" id="item1" /> Cantidad <input type="text" id="cant1" /> <button type="button"
                id="agregar" name="agregar" onclick="incrementar()"> + + </button> <button type="button" id="restar"
                name="restar" onclick="restar()"> - - </button> Subtotal: <input type="text" id="subtotal1" /></p>
        <p>item2: <input type=" text" id="item2" /> Cantidad <input type="text" id="cant2" /> <button type="button"
                id="agregar" name="agregar" onclick="incrementar()"> + + </button> <button type="button" id="restar"
                name="restar" onclick=""> - - </button> Subtotal: <input type="text" id="subtotal2" /> </p>
        <p>item3: <input type=" text" id="item3" /> Cantidad <input type="text" id="cant3" /> <button type="button"
                id="agregar" name="agregar" onclick=""> + + </button> <button type="button" id="restar" name="restar"
                onclick=""> - - </button> Subtotal: <input type="text" id="subtotal3" /></p>
        <p>item4: <input type=" text" id="item4" /> Cantidad <input type="text" id="cant4" /> <button type="button"
                id="agregar" name="agregar" onclick=""> + + </button> <button type="button" id="restar" name="restar"
                onclick=""> - - </button> Subtotal: <input type="text" id="subtotal4" /></p>
        <p>item5: <input type=" text" id="item5" /> Cantidad <input type="text" id="cant5" /> <button type="button"
                id="agregar" name="agregar" onclick=""> + + </button> <button type="button" id="restar" name="restar"
                onclick=""> - - </button> Subtotal: <input type="text" id="subtotal5" /></p>

        <br>
        <p><button type="button" id="Confirmar" name="confirmar" onclick="">Confirmar pedido</button></p>
        <br>
        <p>Total: <input type="text" id="Confirmar" /></p>
    </form>
</body>

</html>